<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApp3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
    <applicationSettings>
        <ConsoleApp3.My.MySettings>
            <setting name="Accounts_URL" serializeAs="String">
                <value>accounts.zoho.eu</value>
            </setting>
            <setting name="refresh_token" serializeAs="String">
                <value>1000.17517046e00a4daf0b6d04252d7e1c6f.9680c16d676884867844c99f5a61a3f6</value>
            </setting>
            <setting name="client_id" serializeAs="String">
                <value>1000.8D2BV9BK3J6S20626D9YREJMYBTO7R</value>
            </setting>
            <setting name="client_secret" serializeAs="String">
                <value>09601fd3487b4c399f005c37a02d36da6519b37be2</value>
            </setting>
            <setting name="ConnStr" serializeAs="String">
                <value>Data Source=10.0.0.152;Initial Catalog=tru;User ID=sa;Pwd=Trut3x</value>
            </setting>
        </ConsoleApp3.My.MySettings>
    </applicationSettings>
</configuration>